<form method="POST" action="/questions">
    <input type="text" name="question[title]" />
    <input type="text" name="question[body]"  />
    
    <input type="submit" value="Submit new question" />
</form>